/* the 100vh and 100vw set the size of the body to fill the viewport (screen) */
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
}
/* build your layout */
.column {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
}
.mid-column {
  height: 100%;
  width: calc(100% / 3);
  display: block;
}
.mid-row {
  height: calc(100% / 3);
  width: 100%;
  display: flex;
}

/* this will make ALL <img> elements at most 100% of their PARENT! */
img {
  max-height: 100%;
  max-width: 100%;
}
/* this class goes on the PARENT div of the image! */
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}
.translucent {
  opacity: 0.5;
}

.box {
  height: 100%;
  width: 50%;
}

.box1 {
  height: 100%;
  width: 50%;
}

.h1 {
  text-align: center;
}

.myfont {
  font-size: 50px;
  color: white;
}
/* colors to see divs */
.purple {
  background-color: #523d64;
}
.green {
  background-color: #85e21f;
}
.orange {
  background-color: #da6339;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: #ffeca7;
}
.purple {
  background-color: purple;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.light-grey {
  background-color: #d3d3d3;
}

.border {
  border-color: darkblue;
}

.image1 {
  content: url("images/logo.jpg");
}

.image2 {
  content: url("images/face.jpg");
}

.image1-2 {
  content: url("images/gt31-1.png");
}

.image2-1 {
  content: url("images/ring.jpg");
}

.mv1box:hover {
  cursor: pointer;
  filter: brightness(100%);
  transform: scale(1.3);
}

.mv1box:active {
  filter: drop-shadow(10px 0px 50px);
  transform: scale(0.98);
  opacity: 0.3;
}

@media only screen and (max-width: 1200px) {
  .myfont {
    font-size: 35px;
  }
}

@media only screen and (max-width: 850px) {
  body {
    height: 100vh;
    width: 100vw;
    display: block;
  }

  .column {
    height: 20%;
    width: 100%;
  }

  .mid-column {
    height: 60%;
    width: 100%;
  }

  .image1 {
    content: url("images/logocrop.png");
  }

  .image2 {
    content: url("images/maxface.png");
  }

  .image1-2 {
    content: url("images/gt3-1uncrop.jpg");
  }

  .image2-1 {
    content: url("images/ring.jpg");
  }
}
/* enhance the UX */
/*
img:hover {
  cursor: pointer;
}
img:active {
  transform: scale(0.95);
}
*/
